<h2> <%= ProductModel.model_name.human%> </h2>

	<div>
			<%= link_to 'Cadastrar modelos de produtos', new_product_model_url %>
	</div>

<% @product_models.each do |pm| %>
  <div>
    <h3><%= link_to pm.name, pm %></h3>
  <ul>
    <li> <%= ProductModel.human_attribute_name(:sku) %>: <%= pm.sku %></li>
    <li> <%= ProductModel.human_attribute_name(:supplier)%>: <%= pm.supplier.brand_name %></li>
    <li> <%= ProductModel.human_attribute_name(:weight)%>: <%= pm.weight %> g </li>
    <li> <%= ProductModel.human_attribute_name(:dimentions) %>: <%= pm.width %> cm x <%= pm.height %> cm x <%= pm.depth %> cm</li>

  </ul>
  </div>
<% end %>

  <% if @product_models.empty? %>
      <p>Não há produtos cadastrados</p>
  <% end %>

<%%>