<h2> Novo modelo de produtos</h2>

<% if(@product_model.errors.any?) %> <%# Validação de erros%>
	<p>Verifique os erros abaixo:</p>
	<ul> 
		<% @product_model.errors.full_messages.each do |msg| %> 
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_with(model: @product_model) do |pm| %>
  <div> 
    <%= pm.label :name %>: 
    <%= pm.text_field :name %>
  </div>
  <div>
    <%= pm.label :weight %>: 
    <%= pm.number_field :weight %>
  </div>
  <div>
    <%= pm.label :width %>: 
    <%= pm.number_field :width %>
  </div>
  <div>
    <%= pm.label :height %>: 
    <%= pm.number_field :height %>
  </div>
  <div>
    <%= pm.label :depth %>: 
    <%= pm.number_field :depth %>
  </div>
  <div>
    <%= pm.label :sku %>: 
    <%= pm.text_field :sku %>
  </div>
  <div>
    <%= pm.label :supplier_id %>: 
    <%= pm.collection_select :supplier_id, @suppliers, :id, :brand_name%>
  </div>
  <div>
    <%= pm.submit 'Enviar'%>
  </div>

<% end %>