<h2> Detalhes do pedido </h2>
<h3> <%= Order.model_name.human %> <%= @order.code%> </h3>

<div>
	<dl>
		<dt><strong> <%= Order.human_attribute_name(:warehouse_id) %>: </strong></dt>
		<dd><%= @order.warehouse.full_description %></dd>
					
		<dt><strong> <%= Order.human_attribute_name(:supplier_id) %>: </strong></dt>
		<dd><%= @order.supplier.corporate_name %></dd>

		<dt><strong> <%= Order.human_attribute_name(:estimated_delivery_date) %>: </strong></dt>
		<dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>

		<dt><strong> <%= Order.human_attribute_name(:user_id) %>: </strong></dt>
		<dd><%= @order.user.description %></dd>

		<dt><strong> <%= Order.human_attribute_name(:status) %>: </strong></dt>
		<dd><%= I18n.translate(@order.status) %></dd>
	</dl> 
</div>

	<% if @order.pending? %>
		<%= button_to 'Marcar como entregue', delivered_order_url(@order.id), class: "btn btn-primary btn-sm" %>
		<%= button_to 'Marcar como cancelado', canceled_order_url(@order.id), class: "btn btn-primary btn-sm" %>
	<% end %>

<div>
	<h2> Itens do pedido </h2>
	<% if @order.order_items.any? %>
		<% @order.order_items.each do |item| %>
			<ul>
				<li> <%= item.quantity %> x <%= item.product_model.name %></li>
			</ul> 
		<% end %>
	<% else %>
		<p>Não há itens neste pedido</p>
	<% end %>
		<%= link_to 'Adicionar item', new_order_order_item_url(order_id: @order.id), class: "btn btn-primary btn-sm" %>
</div> 

	<div> 
		<%= link_to 'Editar', edit_order_url(@order.id), class: "btn btn-primary btn-sm" %>
		<%= link_to 'Voltar', orders_url, class: "btn btn-primary btn-sm" %>
	</div>
