<h2> Detalhes do pedido </h2>
<h3> <%= Order.model_name.human %> <%= @order.code%> </h3>

<div>
	<dl>
		<dt><strong> <%= Order.human_attribute_name(:warehouse_id) %>: </strong></dt>
		<dd><%= @order.warehouse.full_description %></dd>
					
		<dt><strong> <%= Order.human_attribute_name(:supplier_id) %>: </strong></dt>
		<dd><%= @order.supplier.corporate_name %></dd>

		<dt><strong> <%= Order.human_attribute_name(:estimated_delivery_date) %>: </strong></dt>
		<dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>

		<dt><strong> <%= Order.human_attribute_name(:user_id) %>: </strong></dt>
		<dd><%= @order.user.description %></dd>

		<dt><strong> <%= Order.human_attribute_name(:status) %>: </strong></dt>
		<dd><%= I18n.translate(@order.status) %></dd>
	</dl> 
</div>

<% if @order.pending? %>
	<%= button_to 'Marcar como entregue', delivered_order_url(@order.id)%>
	<%= button_to 'Marcar como cancelado', canceled_order_url(@order.id)%>
	<% else %>
<% end %>

<div> 
	<%= link_to 'Editar', edit_order_url(@order.id)%>
	<%= link_to 'Voltar', orders_url%>
</div>
