<h2> Fornecedor <%=@supplier.brand_name %> </h2>
<div>
    <dl>
        <dt><strong>Razão social:</strong></dt>
        <dd><%= @supplier.corporate_name %></dd>
        
        <dt><strong>CNPJ:</strong></dt>
        <% cnpj = @supplier.registration_number %>
        <dd><%= cnpj[0..1] %>.<%= cnpj[2..4]%>.<%= cnpj[5..7]%>/<%= cnpj[8..11]%>-<%= cnpj[12..14]%></dd>
        
        <dt><strong>Endereço:</strong></dt>
        <dd><%= @supplier.address %> - 
            <%= @supplier.city %> - 
            <%= @supplier.state %></dd>

        <dt><strong>Email:</strong></dt>
        <dd><%= @supplier.email %></dd>

        <dt><strong>Telefone:</strong></dt>
        <% fone = @supplier.phone %>
        <dd>(<%= fone[0..1] %>) <%= fone[2..5]%>-<%= fone[6..9]%></dd>
    </dl> 
</div>

<div> 
    <%= link_to 'Editar Fornecedor', edit_supplier_url(@supplier.id)%>
    <%= link_to 'Voltar', suppliers_url%>
</div>


<h2> Modelos de produtos deste fornecedor </h2>

    <% if @product_model.any? %>
        <% @product_model.each do |pm| %>
            <ul>
                <li> Modelo de produto: <%= pm.name %> </li>
                <li> Peso: <%= pm.weight %> g</li>
                <li> Dimensões: <%= pm.width %> cm x <%= pm.height %> cm x <%= pm.depth %> cm</li>
                <li> SKU: <%= pm.sku %> </li>
                <li> Fornecedor <%= pm.supplier.brand_name %> </li>
            </ul>
        <% end %>
    <% else %>
    <p>Não há modelos de produtos cadastrados para este fornecedor </p>
  <% end %>