<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <header>
      <%= link_to root_url do %>
        <h1> Galpões & Estoque </h1>
      <% end %>
      <nav>
        <%= link_to 'Galpões', root_url %> | 
        <%= link_to 'Fornecedores', suppliers_url %> | 
        <%= link_to 'Modelos de produtos', product_models_url %> |
        <%= link_to 'Registrar pedido', new_order_url %> |
        <%= link_to 'Meus pedidos', orders_url %> |

        <!-- Config login -->
        <% if user_signed_in? %>
          <%= current_user.description %> 
          <%= button_to 'Sair', destroy_user_session_url, method: :delete, class: "btn btn-primary btn-sm"  %> 
          <%= form_with(url: search_orders_url, method: :get) do |f| %>
            <%= f.label :query, 'Buscar pedido' %>:
            <%= f.text_field :query %>
            <%= f.submit 'Buscar', class: "btn btn-primary btn-sm"%>
          <% end %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_url, class: "btn btn-primary btn-sm" %> 
        <% end %>
      </nav>
    </header>

    <main>
      <div>
        <%= flash[:notice]%> <!-- ou somente notice -->
        <%= flash[:alert]%> <!-- ou somente alert -->
      </div>
      <%= yield %>
    </main>
  </body>
</html>
